@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --baby-yellow-light: #f6ecde;
    --baby-blue-light: #c3d7e3;
}

::selection{
    color: lime;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;   
}

body {
    background-color: var(--baby-yellow-light);
}